.dataresulat{
overflow: hidden;
overflow-y: auto;
box-shadow:  rgba(0, 0, 0, 0) 0px 5px 15px;
margin-top: 5px;

}
.dataresulat::-webkit-scrollbar{
    display: none;
}
.dataresulat .dataItem{
    width: 100%;
    display: flex;
    align-items: center;
    color: rgba(8, 0, 2, 0.623);

}
.dataItem 
Link{
    text-decoration: none;
}
Link:hover{
    background-color: rgb(194, 15, 15);

}

.search-Item{
    margin-top: 8px;
    padding-right: 50px;
}
.search-all{
position: relative;
}
.space{
    position:absolute;
    top: 50px;
    left: 0;
}

